{% extends 'base.html' %}
{% block content %}

<div class="center">
    <div class="container">
    <div class = "row">
        <div class="col-md-8 mb-5" style="height: 250px;">
<h3 class="text-center"> About Us</h3>
    </hr>

<p><b>Revonov</b>
    Minimize human intervention in the hygienic activities of health establishments
</br>
    Minimize the risks of contamination and the rate of nosocomial infections in health clinics, laboratories, and pharmacy and consequently enhances the brand image of their establishment
</br>
    tackle private clinics and analytical laboratories in Tunisia and Africa. Also food establishments subject to sterilization regulations to have a healthy and fresh room with the development to consider for the detection of dangerous bacteria.
</p>

</div>
    </div>
    </div>
</div>
{% endblock content %} 